<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>

  <div class="demo">


      <button (click)="onEditCourse()" i18n>Edit Course</button>

  </div>
<div #trigger style="height:800px ; width: 30%; background: red;"></div>
<div #prefetch style="height:800px ; width: 30%; background: green;"></div>
<div #display style="height:800px ; width: 30%; background: blue;"></div>

  <!-- @defer(on timer(15s); prefetch on timer(10s))  { -->
   <!-- @defer (on viewport(trigger); prefetch on viewport(trigger)) { -->
  @defer(on interaction(trigger); prefetch on hover(prefetch)) {

  <div class="courses">

    <course-card *ngFor="let course of  courses  "
                 (courseChanged)="save($event)"
                 type="beginner"
                 [course]="course">

      <course-image [src]="course.iconUrl"></course-image>

    </course-card>


  </div>
  }
  @placeholder(minimum 3s) {
    <div>
      <h1>
        This is a placeholder for the courses.
      </h1>
    </div>
  }
  @loading(minimum 3s;after 1s) {
    <div class="loading">
      <h1>
        Loading courses...
      </h1>
    </div>
  } 
  @error {
    <div class="error">
      <h1>
        Error loading courses.
      </h1>
    </div>
  }

</div>




